<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://sondecode.github.io/legitapp/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>pjbyNla3wizs5XZ8CPdCOVKjlW81cPbAa3aZ5SoFDEE=</string>
	<key>LegitAppCategoriesURL</key>
	<string>https://raw.githubusercontent.com/sondecode/legitapp/main/Applite/Resources/categories.json</string>
</dict>
</plist>
